@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wdth,wght,GRAD@0,8..144,50..150,100..900,-50..100;1,8..144,50..150,100..900,-50..100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color: rgb(0, 0, 0);
  --bg-section:rgb(59, 56, 56);
  --secondary:rgb(195, 143, 40);
  --text-color:rgb(250,250,250)
}

body{
  background-color: #2e2e2e;
  color: var(--text-color) ;
}

html{
  font-family: 'Roboto Serif', serif;
  /* width: 100vw;
  height: 100vh; */
}

a {
  text-decoration: none;
}

a:visited{
  color:var(--bg-color);
}

a:link:active{
  color: var(--secondary);
}

ul{
  list-style: none;
}
/*botão whatsapp*/
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    /* border: 1px solid rgba(156, 156, 156, 0.466); */
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    background: #075e54;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  
  .Btn:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
    backdrop-filter: blur(4px);
  }